<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="card text-start">
  <img class="card-img-top"
    src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/women%27s-clothing-brand-logo-design-template-93b483dc2db55c2d9870372e6ce6ca04_screen.jpg?ts=1561472555"
    alt="Title" style="height: 100px  ;width: 100px">
  <div class="card-body">
    <h4 class="text-center">Bienvenido/a</h4>
    <p class="text-center">Aquí encontrarás los mejores productos a los mejores precios!</p>
  </div>
</div>
